h1{
    color: #ff0000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/**{
border:solid
}*/
.header{
    background-color: cyan;
    display: flex;
    justify-content: space-between;
}
.grid{
    display:flex;
    flex-wrap:wrap ;
    justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-content: flex-end
}
body{
    background-color: #a1a1a1;
}